.section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

.header_menu {
  grid-column-start: 1;
  min-width: max-content;
  padding-left: 50px;
}

.nav_links {
  font-size: 18px;
  display: flex;
}

.header_links {
  flex-direction: row;
  gap: 31px;
  list-style: none;
}

.link-active {
  text-decoration: none;
}

.link-not-active {
  list-style: circle;
}

.header_logo-container {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 5;
}

.header_logo {
  width: 148px;
}

.header_image {
  width: 100%;
}

.contacts {
  list-style: none;
  font-size: 18px;
  grid-column-start: 6;
  grid-column-end: -1;
}

.header .contacts {
  margin-left: 190px;
}

.contacts-element {
  min-width: 240px;
}

.cover {
  padding: 165px 70px 50px 60px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  position: sticky;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.6;
  background: #000;
}

/* .cover .overlay {
  height: fit-content;
} */

.cover_title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-bottom: 125px;
  z-index: 10;
  line-height: 1.22;
}

.cover_span {
  display: block;
  z-index: 10;
}

.text-left {
  display: flex;
}

.cover_span-top-line {
  letter-spacing: 0.6em;
}

.text-center {
  justify-content: center;
  display: flex;
}

.cover_span-middle-line {
  letter-spacing: 0.6em;
}

.text-right {
  display: flex;
  justify-content: end;
  /* margin-right: -30px;*/
}

.cover_span-bottom-line-start {
  letter-spacing: 0.6em;
}

.cover_span-bottom-line-center {
  letter-spacing: 0.3em;
}

.cover_description_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_description {
  margin-left: auto;
  margin-right: 80px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover_button {
  color: #fff;
  border: 1px currentColor solid;
  background: transparent;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  padding-top: 180px;
}

.section-title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_title {
  margin-left: 90px;
  margin-bottom: 27px;
}

.lots_list {
  display: flex;
  gap: 25px;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.lots_card_link {
  display: block;
  text-decoration: none;
}

.lots_card {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 430px;
  min-height: 450px;
  padding: 50px 40px 50px 40px;
  background-size: cover;
}

.lots_card-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 10;
}

.lots_card-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  z-index: 10;
}

.lots_start_card {
  background-image: url(../images/card-lot-01.jpg);
}

.lots_middle_card {
  background-image: url(../images/card-lot-02.jpg);
}

.lots_end_card {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look_more {
  margin-left: 90px;
}

.about {
  padding-top: 180px;
  padding-bottom: 180px;
  display: grid;
  grid-template-columns: 430px auto;
  padding-left: 50px;
}

.logo_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-left: 90px;
}

.logo_image {
  width: 148px;
  height: 114px;
}

.about_description {
  margin-top: 100px;
  padding-left: 20px;
}

.about_title {
  margin-bottom: 100px;
}

.about_paragraph {
  margin-bottom: 25px;
}

.about_paragraph:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 90px;
}

.footer .contacts {
  margin-left: 50px;
}

.footer_links {
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer_social {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 50px;
}

.footer_social-logo {
  width: 48px;
  height: 48px;
}
